
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#">Umass Parking Lots</a>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
         <table class="table table-bordered table-striped">
         	<thead>
            	<tr>
                	<th>Open</th>
                    <th>Name</th>
                    <th>Capacity</th>
                    <th>Last Updated</th>
                </tr>
            </thead>
            <tbody id="parkingLots">
            
            </tbody>
         </table>
      </div>

      <hr>

      <footer>
        <p>&copy; Umass Boston 2012</p>
      </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="assets/js/underscore-min.js"></script>
    
    <script>
		var lot_template = "\<% for (var index = 0; index < lotList.length; index++){ %>\
								<% var lot = lotList[index]; %>\
								<tr>\
									<td><%= lot.status %></td>\
									<td><%= lot.name %></td>\
									<td><%= lot.occupancy %></td>\
									<td><%= lot.occupancy %></td>\
								</tr>\
							<% } %>\
						";
		$(function(){
			$.ajax({
				'url':'http://localhost:8080?format=json',
				"type":"GET",
				"datatype": "jsonp",
    			"headers": {"Accept": "application/json"},
				"success":function(data){
					console.log(data,data.campus,data.campus.lot);
				}
			});
			
			//var output = _.template(template, { employeeList : employeeList } );
			//$("#parkingLots").html(output);
		});
	</script>

  </body>
</html>
